.paralax-box {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}

.paralax-box h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10vw;
  color: white;
  font-weight: 400;
}

.img-parallax {
  width: 100vmax;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none;
}

